body {
    height: 100%;
    font-size: 14px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
    line-height: 26px;
    font-weight: 400;
    overflow-x: hidden;
}
h2,h3,h4,h5,h6,a,span{
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    color: #fff;
}
p::selection, h1::selection,h2::selection, h3::selection, h4::selection, h5::selection, h6::selection ,span::selection, a::selection, blockquote::selection{
        color: #fff;
        background:#ff3466;
}
h2{
    color: #333333;
    font-size: 38px;
}
span{
    color: #ff3466;
}
img{
	object-fit: cover;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
p{
    color: #6a6767;
    font-size: 16px;    
    line-height: 24px;
}
h3 {
    color: #fdfdfd;
    font-weight: 700;
    font-size: 40px;
}
.btn{
    width: auto;
    font-size: 14px;
    padding: 12px 25px;
    border-radius: 2px;
    background-color: #ff3466;
    text-transform: uppercase;
    color: #fff;  
    border: none;
    font-weight: 600;
    text-align: center;
    border: 1px solid #ff3466;
}
.btn:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    color: #2d2d2d;    
    border: 1px solid #ff3466;
}
.section-title{
    padding-left: 0px;
    text-align: center;
}
/* Start Navbar Section */
.sticky {
    position: fixed;
    z-index: 1030;
    right: 0;
    left: 0;
     background: #fff;
}
header#main-menu {
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 300;
}
.main-menu-area.header-white .site-navigation {
    margin-top: 0px;
}
.site-navigation {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.sticky .site-navigation {
    background: #222;
}
.navbar {
    position: relative;
    border-radius: 0px;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-white .navbar-nav .nav-link {
    color: #fff;
    font-weight: 600;
    letter-spacing: .6px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 25px 15px !important;
}
.navbar-white .navbar-nav .nav-link:hover, .navbar-white .navbar-nav .nav-link.active{
    color: #ff3466;
    transition: 0.6s;
}
.dropdown:hover>.dropdown-menu {
 display: block;
}
.navbar-toggler{
    border: 1px solid #fff;
 }
 .fa.fa-bars {
    color: #fff;
}
.navbar-toggler:hover {
    cursor: pointer;
}
.navbar{
    padding: 0px;
}
.dropdown-menu {
    position: absolute;
    top: 98%;
    left: 15px !important;
    z-index: 1000;
    display: none;
    min-width: 14rem;
    padding: 0;
    margin: 2px 0px 0px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #222;
    background-clip: padding-box;
    border-radius: 0px;
    border:none;
    transition: 0.8s;
}
.dropdown-item{
    padding:8px 20px;
    font-weight: 500;
    color: #fff !important;
    font-size: 13px;
}
.dropdown-menu a:hover{
    transition: 0.8s;
    background-color: transparent;
    color: #ff3466 !important;
}
.dropdown:hover>.dropdown-menu {
 display: block;
}
/* End Navbar Section */
/* Start Banner Slider Section */
#main-banner-1 .carousel-item{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    height: 680px;  
}
.main-banner.style-2 {
    padding: 95px 0px 0px;
}
.main-banner {
    color: #fff;
}
.main-banner.style-2 .subtitle {
    color: #fff;
    letter-spacing: 5px;
    font-size: 1.25rem;
}
.main-banner.style-2 h2 {
    font-size: 70px;
    color: #ffffff;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 15px;
}
.main-banner.style-2 p {
    color: #fdfdfd;
}    
.main-banner.style-2 h2  {
    font-size: 62px;
    display: block;
    color: #fff;
}
.main-banner.style-2 p.lead {
    margin: 20px 0px 40px;
    color: #fff;
}
.carousel-control-next span, .carousel-control-prev span {
    width: 50px;
    height: 50px;
    line-height: 45px;
    font-weight: bolder;
    border: 1px solid #ff3466 !important;
    color: #ffffff !important;
    background: transparent;
    border-radius: 50% !important;
    font-size: 28px !important;
}
.carousel-control-next span:hover, .carousel-control-prev span:hover {
    background-color: #ff3466;
}
.front-banner-caption {
    position: relative;
    padding: 54px 0px;
    text-align: center;    
    padding: 205px 0px;
}
.carousel-control-next, .carousel-control-prev{
    opacity: unset;
}
.overlay{
    content: '';
    background-color:rgba(0, 0, 0, 0.4);
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}
a.btn.btn-second {
    margin-left: 25px;
}
/* End Banner Slider Section */
/* Start About section */
.home-about-area {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px 0px;
}
.home-about-area .about-content .about-content-list {
    margin-top: 50px;
} 
.home-about-area .btn{
    margin-top: 15px;
}
.about-image {
    margin: 0;
    width: 100%;
    float: left;
    position: relative;
    padding: 0 0 30px 30px;
}
.home-about-area .about-image::before{
    left: 0;
    bottom: 80px;
    z-index: -1;
    content: '';
    width: 95%;
    height: 88%;
    position: absolute;
    background: #f7f7f7;
}
i.fa.fa-play {
    color: #fff;
    font-size: 35px;
    border: 5px solid #ff3466;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    padding-top: 17px;
    padding-left: 8px;
    background-color: #ff3466;
    text-align: center;
}
.play-icon {
    position: relative;
    bottom: 65px;
    right: 35px;
}
button:focus{
    outline: none;
}
/* End About section */
/* Strat services section */
.our-services {
    padding: 50px 0 80px 0;
    background: #ebeff2;
}
.header-section{
    padding-bottom: 45px;
}
.our-services  .service-box {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 9px;
}
.our-services  .item {
    margin-top: 28px;
}
.our-services  .service-box:hover h4>a{
    color: #ff3466;
    text-decoration: none;
    transition: 0.8s;
}
.our-services .service-box .img {
    position: relative;
    margin: -1px;
}
.our-services  .service-box .img img {
    width: 100%;
    height: 240px;
}
.our-services  .service-box .info-text {
    position: absolute;
    top: 53%;
    left: 0px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    z-index: 99;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.our-services  .img{
    display: block;
    overflow: hidden;
    z-index: 1;
}
.our-services  .img::after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0,0,0,0.5);
}
.our-services  .service-box .info-text a {
    display: block;
}
.our-services  .service-box .info-text .icon {
    display: block;
    line-height: 64px;
    color: #fff;
    font-size: 50px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.our-services  .service-box .info-text span {
    display: block;
    padding-top: 10px;
    line-height: 24px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.info-text h4>a{
    color: #fdfdfd;
}
.our-services .owl-carousel .owl-nav.disabled {
    display: block !important;
    float: right;
    position: relative;
    bottom: 322px;
}
.our-services .service-carousel .owl-prev {
    color: #fff !important;
    font-weight: 100 !important;
    position: relative;
    right: 10px;
    font-size: 40px !important;
}
.our-services .service-carousel .owl-next {
    color: #fff !important;
    font-weight: 100 !important;
    position: relative;
    font-size: 40px !important;
}
.our-services .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}
/* End services section */
/* Start Counter Section */
.counter-left-side {
    background-color: #ff3466; 
    padding: 110px 25px 100px;
}
.counter-right-side{     
    padding: 100px 25px;
    background-color: #ebeff2 !important;
}
.path-frontpage .counter-right-side{ 
    background-color: #fff !important;
}
.counter-left-side h3{
    font-size: 33px;
} 
#counter h5{
    font-size: 23px;
    color: #2d2d2d;
    padding-top: 22px;
}  
#counter span{
    font-size: 47px;
    font-weight: bold;
}  
/* End Counter Section */
/* Start Team Section */
.path-frontpage #our-experts {
    padding: 110px 0px 45px;
    background-color: #ebeff2;
}
#our-experts{
    padding:50px 0px;
    background-color: #fff;
}
#our-experts.other-page{
    background-color: #fff !important;
}
#our-experts h3{
    color: #909090;
    font-size: 18px;
}
#our-experts .our-experts-list-caption p{
    color: #ff3466;
}
#our-experts .our-experts-list-caption h3{
   font-size: 25px;
   margin-bottom: 6px;
   color: #444444;
}
.our-experts-list-caption {
    padding: 20px 60px;
    text-align: center;
}
.our-experts-image{
    height: 370px;
}
.our-experts-image img{
    height: 370px;
    width: 100%
}
/* End Team Section */
/* Clients Testimonial */
#clients-testimonial {
    padding: 50px 0px;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#clients-testimonial .header-section{
    padding-bottom: 40px;
}
#clients-testimonial::after {
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    content: '';
}
#clients-testimonial h2{
    color: #fdfdfd;
} 
.testimonial-description p:first-child{
    padding-top: 21px;
}
#clients-testimonial .owl-carousel .owl-item img{    
    width: 150px;
    border-radius: 50%;
    height: 150px;
    margin: auto;    
    border: solid 8px #ff3466;
}
#clients-testimonial .owl-carousel .owl-nav button.owl-next, #clients-testimonial .owl-carousel .owl-nav button.owl-prev {
    background-color: #2379c2;
    color: #fff;
    font-size: 28px;
    height: 28px !important;
    padding: 0px 10px 0px 10px;
}
#clients-testimonial .owl-theme .owl-nav {
    text-align: right;
    position: relative;
    margin-top: -30px !important;
}
#clients-testimonial .owl-carousel .owl-nav span {
    padding: 0px 10px;
    position: relative;
    top: -8px;
}
.testimonial-description p:first-child {    
    padding-top: 20px;
    font-size: 20px;
    color: #fdfdfd;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 30px;
}
.testimonial-name h6{
    color: #ff3466;
    font-size: 18px;
}
.testimonial-name p{
    color: #e7e7e7;
    margin-bottom: 0px;
    letter-spacing: 0px;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 0px;
}
blockquote::before {
    content: "\f10d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ff3466;
    font-size: 40px;
    position: absolute;
    top: 10px;
    left: 250px;
}  
.clients button:focus {
    outline:none;
}
#clients-testimonial .owl-theme .owl-dots .owl-dot span{
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background-color: transparent;
    border: 2px solid #ff3466;
    margin-right: 6px;
    margin-left: 6px;
}
#clients-testimonial .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ff3466 !important;
    border: none;
}
/* End Clients Testimonial */
/*Our Clients section*/
#our-clients{
    padding: 50px 0px;
}
#our-clients  img{
    width: 100%;
}  
/*FOOTER SECTION*/
#footer{
    padding-top: 50px;
    background-color: #2d2d2d;
}
#footer a , #footer p{
    color: #cac7c7;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
}
#footer h6 {
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 5px;
    text-transform: capitalize;
}
#footer a:hover{
    color: #ff3466;
    text-decoration: none;
    margin-bottom: 8px;
}
#footer .fa::before { 
    margin-right: 10px;
    font-size: 15px;
}  
.footer-columns img{
    margin-top: 7px;
    margin-bottom: 10px;
    padding-right: 19px;
}
.footer-columns {
    padding-right: 94px;
}
.footer-bottom{
    padding-bottom: 30px;
}
.footer-menu ul {
    list-style-type: none;
    display: inline-flex;
    padding-left: 0px;
}
.footer-menu a{
    color: #6e7a8d;
    font-size: 18px;
    padding:22px;
}
.footer-menu .active{
    color: #fff;
}
.footer-menu a:hover{
    color: #ff3466;
}
.footer-social a {
    padding: 0px 15px;
    font-size: 24px;
    color: #6e7a8d;
}
.footer-menu-social .fa::before {    
    background-color: #f1f1ff;
    padding: 9px 11px;
    text-align: center;
    margin-right: 0px;
    font-size: 22px;
    border-radius: 50%;
    color: #ff3466;
}  
.footer-menu-social .fa-facebook::before {    
    background-color: #f1f1ff;
    padding: 10px 15px;
    text-align: center;
    margin-right: 0px;
    font-size: 22px;
    border-radius: 50%;
    color: #ff3466;
} 
.footer-social{
    text-align: center;
}
.footer-social a:hover{
    color: #ff3466;
    text-decoration: underline !important;
}
.footer-menu-social{
   background-color: #2d2d2d;
   padding: 20px 0px 25px 0px;
   border-top: 1px solid #656363;
} 
.copyright {
    padding-top: 20px;
}
.copyright p{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
}
.copyright p>a{
    color: #827f7f;
}
.copyright .our-info a{
    color: #827f7f;
}
.copyright p>a:hover, .copyright .our-info a:hover{
    color: #ff3466;
    text-decoration: none;
}    
/* End footer section */
/* top banner caption */
section#top-banner {
    height: 470px;
    width: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
}
.top-banner-overlay{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;    
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin-bottom: 15px;
}
.banner-caption {
    color: #fefefe;
    margin: auto;
    text-align: center;
    padding: 180px 0px;
}
.banner-caption h1{
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 42px;
    padding-bottom: 13px;
}
.banner-caption p{
    font-size: 15px;
    color: #fff;
}
/* End top banner caption */
/* Start Services Detail */
section#services {
    padding: 50px 0px;
    background-color: #ebeff2;
}
.service img {
    padding-bottom: 55px;
    width: 100%;
}
.service p{
    line-height: 32px;
}
/* End Services Detail */
/*contact-page*/
#contact {
    padding: 50px 0px;
}
.get-in-touch, .contact-info {
    padding: 50px 30px 30px 30px;
    background: #fff;
}
#contact form {
    padding: 20px 0px;
}
#contact form input, #contact form textarea {
    width: 100%;
    border: none;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    font-size: 13.5px;
    margin-bottom: 5px;
    color: #000;
}
#contact button.custom-btn, .contact-form button.custom-btn {
    border: none;
    cursor: pointer;
}
.contact-info .address i{
    float: left;
    font-size: 20px;
    margin-top: 6px;
    color: #ff3466;
}
.contact-info .address .fa-map-marker {
    font-size: 25px;
}
.contact-info p.address {
    padding: 7px 0px;
    float: left;
}
.contact-info  a {
    display: block;
    font-weight: bolder;
}
.address p ,.address a{
    padding-left: 40px;
    color: #6a6767;
}
.address {
    padding: 20px 0px;
}
.address a:hover{
    color: #ff3466;
    text-decoration: none;
}
.contact-btn {
    padding-top: 25px;
}
/* End Contact page */
/* Start Blog page */
#blog-banner img{
    width:100%;
}
#blog-banner .blog-banner-caption {
    bottom: 185px;
    position: relative;
}
#blog-banner .blog-banner-caption h1 {
    font-weight: bold;
    text-align: center;
}
#blog .blog-img{
    padding-bottom: 60px;
}
#blog .blog-caption-bg{
    background-color: #f9f9f9;
}
#blog {
    padding: 60px 0px 0px;
    background-color: #f9f9f9;
}
i.fa.fa-user {
    padding-left: 6px;
}
#blog .blog-caption {
    background-color: #fff;
}
#blog .blog-caption h5{
    padding: 35px 35px 5px 35px;
  font-weight: bold;
}
#blog .blog-caption h5 a{
  color: #000;
}
#blog .blog-caption h5 a:hover{
  color:#ff3466;
  text-decoration:none;
  cursor: pointer;
}
#blog .blog-caption p{
    padding: 0px 35px;
}
.blog-info {
    margin-left: 35px;
    color: darkgray;
    font-size: 14px;
}
.blog-img img {
    width: 100%;
    height: 250px;
}
.blog-btn {
    padding-bottom: 25px;
    position: relative;
    left: 35px;
    padding-top: 20px;
}
.blog-btn .btn {    
    padding: 10px 20px;
} 

/* End Blog page */
/* Start blog detail page */
section#blog-details {
    padding: 100px 0px;
}
#blog-details img{
    width: 100%
}
#blog-details .blog-detail {
    border: 3px solid #f5f5f5;
}
#blog-details .blog-description {
    padding: 60px 50px 60px 50px;
}
#blog-details .blog-description h6{
    color: #d3d3d3;
    font-weight: lighter;    
    padding-bottom: 20px;
}
/* END BLOG PAGE CSS*/
/* Theme css */
/* Drupal 8 theme custom css */
.user-logged-in.path-frontpage header#main-menu {
    top: 80px;
}
.user-logged-in header#main-menu {
    top: 117px;
}
.user-logged-in header#main-menu.sticky {
    top: 80px !important;
}

div#block-views-block-services-block-2 h2 {
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 5px;
    text-transform: capitalize;
}
.form-item, .form-actions {
    margin-top: 0 !important;
    margin-bottom:0 !important;
}
div#edit-actions .btn{
    color: #fff;
    border: 1px solid #ff3466;    
    width: auto;
    font-size: 14px;
}
div#edit-actions .btn:hover{
    color: #000;
}
.navbar-collapse{
    flex-grow: 0 !important;
}
/* End theme css */
/*  Start Responsive query */
@media screen and (min-width:320px) and (max-width:992px) {
.sticky{
    padding: 26px 0px;
}
ul.navbar-nav.ml-auto {
    border-top: 1px solid #f5f5f5;
    margin-top: 26px;
}
.sticky .container , .main-menu-area .container{
    padding: 0px;
    max-width: 100% !important;
}
.user-logged-in header#main-menu.sticky {
    top: 34px !important;
}
a.navbar-brand img {
    margin-left: 20px;
}
a.navbar-brand {    
    margin-right: 0px;
}
button.navbar-toggler {
    margin-right: 20px;
}
.navbar-white .navbar-nav .nav-link{
    padding: 8px 18px 5px !important;
}
header#main-menu {
    padding: 20px 0px;
}
header#main-menu.sticky {
    padding: 0px;
}
.sticky .navbar {
    padding: 15px 0px;
}
.home-about-area .btn {
    margin-bottom: 46px;
}
.home-about-area .about-image::before {
    height: 82%;
}

}
@media screen and (min-width:320px) and (max-width:575px) {
   .our-services .owl-carousel .owl-nav.disabled {
    right: 18px;
} 
.banner-caption p {
    padding: 0px 20px;
}
}
@media screen and (min-width:320px) and (max-width:767px) {
.portfolioFilter a {
    margin-top: 10px;
}
.main-banner.style-2 h2 {
    font-size: 35px;
}
.main-banner.style-2 {
    padding: 110px 0px 0px;
}
.counter-lists {
    padding-top: 70px;
}
#blog-details .blog-description {
    padding: 60px 20px 60px 20px;
}
}
@media screen and (min-width:320px) and (max-width:480px) {
a.navbar-brand img {
    width: 200px;
}
blockquote::before {
    left: 40px;
}
}
@media screen and (min-width:992px) and (max-width:1199px) {
.home-about-area .btn {
    margin-top: 0px;
}   
.our-experts-list-caption {
    padding: 20px 45px; 
}      
blockquote::before {
    left: 200px;
}
.main-banner.style-2 {
    padding: 70px 0px 0px;
}
}
@media only screen and (min-width: 481px) and (max-width: 767px){       
blockquote::before {
    left: 140px;
}
}
@media only screen and (min-width: 768px) and (max-width: 992px){
.counter-lists {
    padding-top: 45px;
}
.counter-left-side h3 {
    padding-top: 35px;
}       
blockquote::before {
    left: 120px;
}
.main-banner.style-2 {
    padding: 70px 0px 0px;
}
}
/*  End Responsive query */    



.js-form-item.form-item.js-form-type-item.form-type-item.js-form-item-.form-item-.form-no-label {
    padding: 100px;
}
h4.label {
    color: #000;
}    
/* strat user login form*/
.path-user .breadcrumb{
    display: block;
    background-color: transparent; 
}
.path-user h2::after{
    background-color: transparent;
}
#user-login {
  max-width: 40%;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #ff3466;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}
.login-text .form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.login-text a {
  color: #ff3466;
}
.btn-primary{
    background-color: #ff3466;
    border-color: #ff3466;
}
.login-button input {
  padding: 5px 20px 5px 20px;
  background: #ff3466;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
.login-button input:hover {
  padding: 5px 20px 5px 20px;
  background: #fff;
  border: 1px solid #ff3466;
  color: #ff3466;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
.login-button , #user-register-form .form-actions ,#user-pass .form-actions{
  text-align: center;
}

#user-register-form , #user-pass{
  max-width: 50%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}

#user-register-form .js-form-item {
  margin-bottom: 20px !important;
}

#user-register-form .js-form-item input, #user-pass .js-form-item input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

#user-register-form .form-actions input , #user-pass .form-actions input {
  padding: 5px 20px 5px 20px;
  background: #ff3466;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
#user-register-form .form-actions input:hover , #user-pass .form-actions input:hover {
  padding: 5px 20px 5px 20px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
}
@media only screen and (max-width: 610px) {

#user-login {
  max-width: 95% !important;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}

#user-register-form , #user-pass{
  max-width: 95% !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}
}

@media (min-width: 768px) and (max-width: 992px) {

#user-login {
  max-width: 95% !important;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}

#user-register-form , #user-pass{
  max-width: 95% !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}

}
/* end user login form */


/* page not found */
#not-found-section {
    padding:100px 0px;
}

.not-found-body {
    max-width: 70%;
    margin: auto;
}

.not-found-body h2 {
    font-size: 25px;
    font-weight: 600;
}

.not-title {
    border: 2px solid #ff3466;
    padding: 10px 50px 30px 50px;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 10px;
}

.not-title h1 {
    font-size: 125px;
    margin: 0px;
    color: #ff3466;
}

.not-title h2 {
    font-size: 25px;
    margin: 0px;
    color: #ff3466;
}

#not-found-section a.btn.btn-custom{
    text-align: center;
    display: inline-block;
    padding: 8px 20px;
    margin: 10px 0 0 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    background-color: #ff3466;
    border-color: #ff3466 !important;
    color: #fff !important;
    transition: 0.7s;
}
#not-found-section a.btn.btn-custom:hover{
    background-color: #fff;
    border-color: #ff3466 !important;
    color: #333 !important;
    transition: 0.7s;
}

@media (min-width: 320px) and (max-width: 480px){
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #ff3466 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #ff3466 !important;
}
.not-title {
    border: 2px solid #ff3466 !important;
    padding: 10px 50px 30px 50px !important;
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}

@media (min-width: 481px) and (max-width: 768px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #ff3466 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #ff3466 !important;
}
.not-title {
    border: 2px solid #ff3466 !important;
    padding: 10px 50px 30px 50px !important;
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}


@media (min-width: 768px) and (max-width: 992px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #ff3466 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #ff3466 !important;
}
.not-title {
    border: 2px solid #ff3466 !important;
    padding: 10px 50px 30px 50px !important;
    width: 70% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
.navbar-name {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    padding: 20px;
}
.main-menu-area a:hover {
    text-decoration: none;
    color: #fff;
}
/* end page not found */