<!-- Start Banner slider Section  -->
<section class="banner-area" id="main-banner-1">
   <div class="carousel slide" id="main-slider">
       <div class="carousel-inner">
         {% for result in view.result %}
           <div class="carousel-item {% if ( loop.index == 1 )  %}active{% endif %}" style="background-image: url('{{ file_url(view.field.uri.value(view.result[loop.index-1])) }}');" >
            <div class="overlay">
               <div class="container">
                    <div class="row">
                        <div class="col-md-10 front-banner-caption mx-auto">
                            <div class="main-banner style-2">
                                <h2>{{ view.field.title.value(view.result[loop.index-1]) | striptags }}</h2> 
                                <p>{{ view.field.body.value(view.result[loop.index-1]) | striptags }}</p> 
                            </div>
                        </div>
                    </div> 
                </div> 
                </div>
           </div>
           {% endfor %}
           
           
           
            
       <a class="carousel-control-prev" href="#main-slider" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#main-slider" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
   </div>
</section>
<!-- End Banner slider Section  -->