 <section id="blog" class="blog-bg">
    <div class="container">
        <div class="row">
			 {% for row in rows %}
			       {{ row.content }}
			     {% endfor %} 
  		</div>
  	</div>
</section>  		 