
<!-- CLIENTS SECTION -->
<section id="clients-testimonial" class="wow fadeInUp" style="background-image: url({{ file_url(content.field_team_image['#items'].entity.uri.value) }});"> 
    <div class="container">
        <div class="row">
          <div class="col-md-12 header-section text-center">
            {{ content.field_about_desc.0 }}
          </div>
        </div>

        <div class="row">
          <div class="clients owl-carousel owl-theme">
          {{ content.field_testimonial_listing }}
          </div>
        </div>

  </div>
</section>
<!-- END CLIENTS SECTION -->