<!-- Strat About section  -->
<div class="home-about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    {{ content.field_about_title.0 }}
                    {{ content.field_about_desc.0 }}
                    <a href="{{ content.field_about_btn[0]['#url']|render }}" target="_blank" class="btn">{{ content.field_about_btn[0]['#title']|render }}</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-image">
                    <img src="{{ file_url(content.field_about_image['#items'].entity.uri.value) }}" alt="about image" class="img-fluid" title="about image">
                    <div class="play-icon">
                    <a class="popup-youtube" href="{{ content.field_about_video_url.0 }}"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About section  -->