<!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <!-- Get-in-touch --> 
          <div class="col-xl-4 col-lg-4 col-md-12 wow fadeInLeft" data-wow-delay="0.3s">
            <div class="contact-info">
              <h2>{{ content.field_counter_valu.0 }}</h2>
              <p>{{ content.field_services_desc.0 }}</p>

                <div class="address">
                  <i class="fa fa-map-marker"></i>
                  <p>{{ content.field_team_desc.0 }}</p>
                </div>

                <div class="address">
                  <i class="fa fa-envelope"></i>
                    <a href="mailto:{{ content.field_team_member_name.0 }}">{{ content.field_team_member_name.0 }}</a>
                    <a href="mailto:{{ content.field_top_banner_title.0 }}">{{ content.field_top_banner_title.0 }}</a>
                </div>

                <div class="address">
                  <i class="fa fa-phone"></i>
                    <a href="tel:{{ content.field_team_designation.0 }}">{{ content.field_team_designation.0 }}</a>
                    <a href="tel:{{ content.field_counter_caption.0 }}">{{ content.field_counter_caption.0 }}</a>
                </div>
              </div>
          </div>
          <!-- Get-in-touch end--> 
          <!-- Contact-form -->
           <div class="col-xl-8 col-lg-8 col-md-12 wow fadeInDown" data-wow-delay="0.6s">
            <div class="get-in-touch">
              <h2>{{ content.field_counter_heading_.0 }}</h2>
              <p>{{ content.field_top_banner_desc.0 }}</p>
                {{ content.field_contact_form.0 }}
            </div>
          </div> 
          <!-- contact-form --> 
        </div>
      </div>
    </section>
    <!-- Contact End -->