<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 our-experts-listing">
	<div class="our-experts-image">
	<img src="{{ file_url(content.field_team_image['#items'].entity.uri.value) }}" class="img-fluid" alt="team-image" title="Team Image">
	</div>
	<div class="our-experts-list-caption">
	  <h3>{{ content.field_team_member_name.0 }}</h3>
	  <p>{{ content.field_team_designation.0 }}</p>
	</div> 
</div> 