 <div class="item">
    <div class="col-md-8 mx-auto text-center testimonial-description wow fadeInRight">
    <img src="{{ file_url(content.field_team_image['#items'].entity.uri.value) }}" alt="testimonial img" class="img-fluid" title="Client Image">
    <blockquote>
      <p><i>{{ content.field_team_desc.0 }}</i></p>
        <div class="testimonial-name">
          <h6>-{{ content.field_team_member_name.0 }}</h6>
          <p>{{ content.field_team_designation.0 }}</p>
        </div> 
     </blockquote> 
    </div>
</div> 