<!--  Start Counter Section  -->
<section id="counter">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 counter-left-side">
        <h3>{{ content.field_counter_heading_.0 }}</h3>
      </div>  
      <div class="col-md-8 col-lg-8 counter-right-side">
        <div class="row">
          {{ content.field_counter_list }}
        </div>
      </div>
    </div>
  </div>
</section>
<!--  End Counter Section  -->