<!-- Top Banner section -->
<section id="top-banner" style="background-image:url('{{ file_url(content.field_top_banner_image['#items'].entity.uri.value) }}');">
  <div class="top-banner-overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-8 mx-auto banner-caption">
        <h1>{{ content.field_top_banner_title.0 }}</h1>
        <p>{{ content.field_top_banner_desc.0 }} </p>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- End Top Banner section -->