
{{ content.field_top_banner.0 }}
<section id="services">
    <div class="container">
        <div class="row">          
          <div class="col-md-12 header-section text-center">
            <h2>{{label}}</h2>
          </div> 
           <div class="col-md-10 mx-auto service">           
            <img src="{{ file_url(content.field_services_image['#items'].entity.uri.value) }}" class="img-fluid" alt="Events-detail" title="Events-detail">
                  {{ content.body.0}}
            </div>
        </div>     
             
    </div>
</section>   
<!-- End Services Details  -->