{{ content.field_blog_top_banner.0 }}
<!-- BLOG DETAILS SECTION -->
{% set createdDate = node.getCreatedTime|format_date('post_date') %}

  <section id="blog-details">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-detail">
              <img src="{{ file_url(content.field_blog_image['#items'].entity.uri.value) }}" alt="blog-img" class="img-fluid" title="Blog Image">
                <div class="blog-description">
                  <div class="row">
                    <div class="col-md-12">
                      <h2>{{label}}</h2>
                      <h6>By: {{ user.displayname }} | Published On: {{ createdDate }}</h6>
                      {{content.body.0 }}
                    </div>
                  </div>  
                </div>
              </div>  
        </div>
      </div>
    </div>
  </section>
<!-- END BLOG DETAILS SECTION -->