


<form>
  <div class="row">
    <div class="col-md-6 form-group">
      {{ element.elements.name }}
    </div>
    <div class="col-md-6 form-group">
        {{ element.elements.email_ }}
    </div>
    <div class="col-md-12 form-group">
      {{ element.elements.subject }}
    </div>
    <div class="col-md-12">
      {{ element.elements.message }}
    </div>
    <div class="col-md-12 contact-btn">
    {{ element.elements.actions }}
    </div>
  </div>
</form>