
<nav class="pagination-nav" aria-label="Page navigation example">
  <ul class="pagination">
{% if items %}
      {# Print previous item if we are not on the first page. #}
      {% if items.previous %}
          <li class="page-item">
            <a class="page-link" href="{{ items.previous.href }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
      {% endif %}
      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
          {% if current == key %}
              <li class="page-item"><a class="page-link" href="{{ item.href }}">{{- key -}}</a></li>
          {% else %}
              <li class="page-item"><a class="page-link active" href="{{ item.href }}">{{- key -}}</a></li>
          {% endif %}
       {% endfor %}
      {# Print next item if we are not on the last page. #}
      {% if items.next %}
        
        <li class="page-item">
          <a class="page-link" href="{{ items.next.href }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      {% endif %}
     
{% endif %}

</ul>
</nav>
