{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}<!-- Start NavBar -->
<header class="main-menu-area" id="main-menu">
  <nav class="navbar navbar-expand-lg navbar-white site-navigation navbar-togglable">

    <div class="container">
          {{ page.header }}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarCollapse">
         {{ page.primary_menu }}
      </div> 

     </div>
  </nav>
</header>
<!-- End Navbar -->
 
<!-- Top Banner section -->
<section id="top-banner" style="background-image:url('{{ bg_image_url }}');">
  <div class="top-banner-overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-8 mx-auto banner-caption">
        <h1>{{ page['#title'] }}</h1>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- End Top Banner section -->

{# Main #}
<section id="not-found-section" class="text-center">
  <div class="container">               
    <div class="row"> 
      <div class="not-found-body" >
        <div class="not-title" >
          <h1>404</h1>
          <h2>Page Not Found</h2> 
        </div>  
          <h2>Sorry. We can't find a page.</h2>
          <p>The Page you are looking for might have a removed, had its name changed, or its temporarily unavailable.</p>      
          <a href="{{front_page}}" class="btn btn-custom"> Go Home </a>      
      </div>
    </div>          
  </div>    
</section>
 


  <!-- FOOTER SECTION-->
    <section id="footer">
      <div class="container wow fadeInUp">
        <div class="row footer-bottom">
          <div class="col-md-5 col-sm-12 footer-columns wow fadeInLeft">
            {{page.footer_col_first}}
          </div>

          <div class="col-md-3 col-sm-12 footer-bottom-col2 wow fadeInUp">
          {{page.footer_col_second}}
          </div>
          <div class="col-md-4 col-sm-12 footer-bottom-col3 wow fadeInRight">
          <h6>{{contact}}</h6>
            <p>{{contact_desc}}</p>
            <p><a href="tel:{{phone}}"><i class="fa fa-phone"></i>{{phone}}</a></p>
            <p><a href="mailto:{{email}}"><i class="fa fa-envelope"></i>{{email}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="footer-menu-social">
     <div class="container">
     <div class="row"> 
      <div class="col-md-6 mx-auto text-center copyright wow fadeInUp"> 
        <p> &copy;2018.<a href="#">YG Event Organizer</a>.All Rights Reserved.<br></p>
        <p class="our-info">Theme By<a href="https://www.drupaldevelopersstudio.com/" target="_blank"> Drupal Developers Studio</a>, A Division of <a href="https://www.youngglobes.com/" target="_blank">Young Globes</a></p>  
      </div>
     </div>
     </div>
  </div>
<!-- END FOOTER SECTION -->
