<!-- Start NavBar -->
<header class="main-menu-area" id="main-menu">
  <nav class="navbar navbar-expand-lg navbar-white site-navigation navbar-togglable">

    <div class="container">
          {{ page.header }}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarCollapse">
         {{ page.primary_menu }}
      </div> 

     </div>
  </nav>
</header>
<!-- End Navbar -->

  {{ page.slider }}

  <section {{ content_attributes.addClass(content_classes) }}>
    {# Content #}
    {% block content %}
      <a id="main-content"></a>
      {{ page.content }}
    {% endblock %}
  </section>

  <!-- FOOTER SECTION-->
    <section id="footer">
      <div class="container wow fadeInUp">
        <div class="row footer-bottom">
          <div class="col-md-5 col-sm-12 footer-columns wow fadeInLeft">
            {{page.footer_col_first}}
          </div>

          <div class="col-md-3 col-sm-12 footer-bottom-col2 wow fadeInUp">
          {{page.footer_col_second}}
          </div>
          <div class="col-md-4 col-sm-12 footer-bottom-col3 wow fadeInRight">
          <h6>{{contact}}</h6>
            <p>{{contact_desc}}</p>
            <p><a href="tel:{{phone}}"><i class="fa fa-phone"></i>{{phone}}</a></p>
            <p><a href="mailto:{{email}}"><i class="fa fa-envelope"></i>{{email}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="footer-menu-social">
     <div class="container">
     <div class="row"> 
      <div class="col-md-6 mx-auto text-center copyright wow fadeInUp"> 
        <p> &copy;2018.<a href="#">YG Event Organizer</a>.All Rights Reserved.<br></p>
        <p class="our-info">Theme By<a href="https://www.drupaldevelopersstudio.com/" target="_blank"> Drupal Developers Studio</a>, A Division of <a href="https://www.youngglobes.com/" target="_blank">Young Globes</a></p>  
      </div>
     </div>
     </div>
  </div>
<!-- END FOOTER SECTION -->